<div id="mealForm" class="flex-auto">
  <%= render "form", meal: meal %>
</div>

<script type="text/javascript">
  window._currentMealbook = <%= raw mealbook.to_json %>;
  window._currentMeal = <%= raw meal.to_json(include: :ingredients) %>;
</script>
