
#mealForm.flex-auto
  = render "form", meal: Meal.new

:javascript
  window._currentMealbook = #{mealbook.to_json};
  window._currentMeal = { mealbook_id: _currentMealbook.id, desc: null, name: null, ingredients: [] };
