.elm-datepicker {
  &--container {
    position: relative;
  }

  &--day {
    &:hover {
      cursor: pointer;
      background-color: $gray;
    }
  }

  &--dow {
    color: $dark-gray;
  }

  &--picker {
    background-color: white;
    padding: .5rem;
    border-radius: .25rem;
    font-size: .875rem;
    position: absolute;

    td {
      padding: .25rem;
      text-align: center;
    }
  }

  &--picked {
    color: $green;
    font-weight: bold;
  }
}
