<%= render '/layouts/nav/container' do %>
  <%= render '/layouts/nav/return_link', text: planner_nav.home, url: planner_nav.home_url %>
  <%= render '/layouts/nav/title', text: planner_nav.name %>
  <div class="w4"></div>
<% end %>
