%nav.flex.items-center.ht4
  %h3.pl2.flex-1
    = link_to mealbook.name, root_path
  %section.w4.flex-center
    = link_to raw("&#43;"), new_mealbook_meal_path(mealbook), class: "flex-center box2 circle bg-green c-white normal"
