<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/flash" %>
    <div class="content flex flex-column">
      <% PlannerNav.for(controller_action, mealbook).tap do |nav| %>
        <%= render nav.template, planner_nav: nav %>
      <% end %>
      <main class="main flex flex-auto ht1">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
